<h1 class="welcome">Welcome to the Task Manager</h1>

<div class='dashboard-options'>
  <ul>
    <li class ="dashboard-option"><a href="/tasks">Task Index</a></li>
    <li class ="dashboard-option"><a href="/tasks/new">New Task</a></li>
  </ul>
</div>